<div class="firstview">
  <div class="form-area">
    <p class="form-area-title">NigataShareでまだ体験したことのない旅をしよう</p>
    <div class="form">
      <p>エリア</p> <input class="area2" type="text" placeholder="新潟市"> <input class="button" type="button" value="探す"> </div>
  </div>
</div>
<div class="secondview">
  <h1 class="section-title">おすすめのエリア</h1>
  <div class="panels">
    <div class="panel-item1">
      <div class="recommended-area">新潟市</div>
    </div>
    <div class="panel-item2">
      <div class="recommended-area">長岡市</div>
    </div>
    <div class="panel-item3">
      <div class="recommended-area">湯沢町</div>
    </div>
    <div class="panel-item4">
      <div class="recommended-area">弥彦村</div>
    </div>
  </div>
</div>
